:root {
  --main-color: #fff;
  --text-color: #000;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  width: 100%;
  height: 70vh;
  background: url(./accest/img/background1.jpg) no-repeat;
  background-size: 100% 70vh;
}

.header-navbar {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  width: 97.5%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}
.header-navbar_logo a img {
  width: 120px;
  height: 70px;
  padding-top: 10px;
}

.header-navbar_list ul {
  list-style: none;
  padding-top: 30px;
}
.header-navbar_list ul li {
  display: inline-block;
  position: relative;
  margin-left: 40px;
}
.header-navbar_list ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 20px;
}
.header-navbar_list ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: whitesmoke;
  box-shadow: 2px 2px 2px black;
  position: absolute;
  left: 0px;
  bottom: -3px;
}
.header-navbar_list ul li a:hover::after {
  width: 100%;
  transition: 0.5s;
}
.header-navbar_shopping {
  padding-top: 25px;
}
.header-navbar_shopping a ion-icon {
  color: var(--text-color);
  font-size: 30px;
  padding-left: 20px;
}

.header-navbar_list ul li a:hover {
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
}
.header-navbar_shopping a ion-icon:hover {
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
}
.introduce {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}
.introduce-name {
  width: 50%;
  height: 400px;
  margin-top: 100px;
  margin-left: 150px;
}

.introduce-name h1 {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 25px;
  rotate: 270deg;
  padding: 20px 40px;
  margin-top: 100px;
  opacity: 0.5;
}
.introduce-name h1 span {
  font-size: 17px;
  font-weight: 100;
  padding-left: 75px;
}
.introduce-tag h3 {
  padding-top: 100px;
  opacity: 0.5;
  letter-spacing: 15px;
  font-size: 15px;
  padding-bottom: 15px;
}
.introduce-tag h2 {
  opacity: 0.9;
  font-size: 20px;
}
.introduce-tag p {
  font-size: 15px;
  font-weight: 100;
  padding-top: 50px;
  line-height: 30px;
  padding-right: 200px;
  text-align: justify;
  padding-bottom: 50px;
}
.introduce1 {
  width: 100%;
  height: 100px;
  position: relative;
}

.introduce1 h1 {
  font-size: 20px;
  letter-spacing: 5px;
  opacity: 0.9;
  padding-left: 300px;
  padding-top: 30px;
}
.introduce1::after {
  content: "";
  width: 150px;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40px;
  left: 130px;
}
.video-introduce {
  width: 100%;
  height: 650px;
}
.video-introduce iframe {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
}
.introduce2 {
  width: 100%;
  height: 100px;
  position: relative;
}

.introduce2 h1 {
  font-size: 15px;
  letter-spacing: 5px;
  opacity: 0.7;
  padding-left: 300px;
  padding-top: 30px;
}
.introduce2::after {
  content: "";
  width: 150px;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 37px;
  left: 130px;
}
.shop-shoes {
  width: calc(100%-300px);
  height: 400px;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 40px;
}

.shoes-introduce {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.shoes-introduce .introduce4 {
  padding-left: 35px;
  padding-right: 35px;
}
.introduce4 img {
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.introduce4 h1 {
  font-size: 15px;
  text-align: center;

  padding-top: 5px;
  cursor: pointer;
}
.introduce4 a {
  text-decoration: none;
  color: #000;
}

.slogan {
  width: 100%;
  height: 300px;
  padding-top: 50px;
}
.slogan p {
  font-size: 15px;
  font-weight: 100;
  opacity: 0.9;
  padding-left: 300px;
  padding-right: 300px;
  text-align: justify;
  line-height: 30px;
  padding-bottom: 10px;
}
.tintuc {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}
.tintuc1 {
  width: 23%;
  height: 200px;
  padding-left: 25px;
  padding-right: 25px;
}

.tintuc-title {
  display: flex;
  justify-content: center;
}
.tintuc-title h1 {
  font-size: 60px;
  padding-right: 15px;
  opacity: 0.3;
}
.tintuc-title h4 a {
  text-decoration: none;
  color: #000;
}
.tintuc-title h4 {
  font-size: 18px;
  text-align: justify;
  font-weight: 600;
  opacity: 0.9;
  padding-top: 15px;
}
.tintuc1 p {
  font-size: 15px;
  font-weight: 100;
  text-align: justify;
  padding-top: 5px;
  opacity: 0.7;
}
.tintuc-title h4:hover {
  opacity: 1;
  text-decoration: underline;
}

.lienhe {
  width: 100%;
  height: 500px;
  background-color: #acacac;
}
.lienhe h1 {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  opacity: 0.7;
}

.lienhe .form1 {
  padding: 50px 10px 20px 190px;
}
.form1 input {
  width: 25%;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 15px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.form1 input:hover {
  border-bottom: 1px solid black;
}
.lienhe .form2 {
  padding: 0px 10px 20px 190px;
}
.form2 input {
  width: 81%;
  height: 100px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 17px;
  background: transparent;
  padding-bottom: 100px;
  border: none;
  outline: none;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.lienhe .button {
  font-size: 15px;
  padding: 10px 5px 3px 10px;
  margin-top: 20px;
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  border-bottom: 1px solid black;
  cursor: pointer;
  margin-left: 680px;
  opacity: 0.5;
}
.lienhe .button:hover {
  opacity: 1;
}
.address {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  background: aliceblue;
}

.address1 {
  margin-top: 70px;
}

.address1 ul {
  list-style: decimal;
  padding-left: 20px;
}
.address1 h2 {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}
.address1 ul li {
  padding-top: 15px;
}
.address1 ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.9;
}
.address1 ul li a:hover {
  opacity: 5;
}
.address1 ul li span {
  font-size: 15px;
  font-weight: 100;
  opacity: 0.7;
}
.footer {
  width: 100%;
  height: 350px;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}

.footer-up {
  width: 100%;
  height: 200px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 50px;
}
.footer-up_logo {
  width: 20%;
  height: 100%;
}
.footer-up_logo img {
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 10px;
}
.footer-up_logo p {
  padding-left: 70px;
  font-size: 15px;
  font-weight: 100;
  opacity: 0.5;
}
.footer-up_logo h3 {
  padding-top: 10px;
  padding-left: 70px;
  font-size: 35px;
}
.footer-up_information {
  width: 30%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 40px;
  padding-top: 15px;
  padding-right: 30px;
}

.footer-up_information h4 {
  font-size: 20px;
  padding-bottom: 15px;
}
.footer-up_information ul {
  list-style: none;
  width: 50%;
}
.footer-up_information ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
  font-weight: 100;
  line-height: 40px;
}
.footer-ul {
  display: flex;
}

.footer-up_information1 {
  width: 20%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 40px;
  padding-top: 15px;
}

.footer-up_information1 h4 {
  font-size: 20px;
  padding-bottom: 15px;
}
.footer-up_information1 ul {
  list-style: none;
}
.footer-up_information1 ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
  font-weight: 100;
  line-height: 40px;
}
.footer-up_information1 ul li a span {
  padding-left: 7px;
  padding-bottom: 10px;
}
.footer-up_information1 ul li a ion-icon {
  width: 20px;
  height: 20px;
}
.footer-up_information ul li a:hover {
  opacity: 5;
}
.footer-up_information1 ul li a:hover {
  opacity: 5;
}
.footer-down {
  width: 100%;
  height: 100px;
  display: flex;
}
.footer-down_tb {
  width: 15%;
  padding-left: 80px;
}
.footer-down_tb img {
  padding-top: 15px;
}
.footer-down_gif {
  padding-top: 40px;
  opacity: 0.5;
  width: 20%;
  padding-left: 20px;
}
.footer-down_information {
  width: 65%;
  padding-left: 100px;
  padding-top: 15px;
}

.footer-down_information h5 {
  font-size: 17px;
  opacity: 0.8;
  font-weight: 100;
  padding-bottom: 2px;
}
.footer-down_information p {
  opacity: 0.7;
  font-size: 15px;
  padding-bottom: 2px;
}
