:root {
  --main-color: #fff;
  --text-color: #000;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  width: 100%;
  height: 100vh;
  background: url(./accest/img/hinhnen.jpg) no-repeat;
  background-size: 100% 100vh;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.header-navbar {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  width: 97.5%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}
.header-navbar_logo a img {
  width: 120px;
  height: 70px;
  padding-top: 10px;
}

.header-navbar_list ul {
  list-style: none;
  padding-top: 30px;
}
.header-navbar_list ul li {
  display: inline-block;
  position: relative;
  margin-left: 40px;
}
.header-navbar_list ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 20px;
}
.header-navbar_list ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: whitesmoke;
  box-shadow: 2px 2px 2px black;
  position: absolute;
  left: 0px;
  bottom: -3px;
}
.header-navbar_list ul li a:hover::after {
  width: 100%;
  transition: 0.5s;
}
.header-navbar_shopping {
  padding-top: 25px;
}
.header-navbar_shopping a ion-icon {
  color: var(--text-color);
  font-size: 30px;
  padding-left: 20px;
}

.header-navbar_list ul li a:hover {
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
}
.header-navbar_shopping a ion-icon:hover {
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
}

.header-body-PR {
  padding-top: 200px;
  padding-left: 300px;
}

.header-body-PR p {
  font-size: 20px;
  font-weight: 100;
}

.header-body-PR h1 {
  font-size: 50px;
  padding-top: 5px;
  padding-left: 20px;
  text-shadow: 1px 1px 1px white;
}

.content {
  width: 100%;
  height: 620px;
  margin-top: 10px;
}
.content-category {
  display: flex;
}
.content-category-list1 {
  position: relative;
  width: 50%;
  height: 600px;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 3px 3px 3px 0;
  overflow: hidden;
}
.name-tag {
  position: absolute;
  left: 20px;
  bottom: 50px;
}

.name-tag a {
  text-decoration: none;
  font-size: 20px;
  color: var(--text-color);
  font-weight: 300;
  opacity: 0.6;
  padding: 2px;
  position: relative;
}
.name-tag a::after {
  content: "";
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.5s;
}

.name-tag a:hover::after {
  width: 100%;
  height: 100%;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}
.name-tag a:hover {
  color: #006600;
}

.content-category-list1 img {
  width: 100%;
  height: 600px;
  cursor: pointer;
  transition: all 1.5s;
}
.content-category-list1 img:hover {
  transform: scale(1.2);
}

.name-tag p {
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  font-weight: 100;
  opacity: 0.5;
}

.category-list2 {
  width: 25%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
.category-list21 {
  width: 100%;
  height: 48.5%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 3px;
  overflow: hidden;
  position: relative;
}
.category-list21 img {
  width: 100%;
  height: 100%;
  transition: all 2s;
}
.category-list21 img:hover {
  transform: scale(1.2);
}
.name-tag2 {
  position: absolute;
  top: 20px;
  right: 20px;
}
.name-tag2 a {
  text-decoration: none;
  font-size: 20px;
  color: var(--text-color);
  font-weight: 300;
  opacity: 0.6;
  position: relative;
  padding-top: 2px;
}
.name-tag2 a::after {
  content: "";
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.5s;
}

.name-tag2 a:hover::after {
  width: 100%;
  height: 100%;
  border-top: 2px solid rgb(72, 48, 95);
  border-bottom: 2px solid rgb(72, 48, 95);
}
.name-tag2 a:hover {
  color: rgb(33, 4, 61);
}

.name-tag2 p {
  font-size: 15px;
  text-align: center;
  font-weight: 100;
  opacity: 0.5;
  padding-top: 3px;
}
.category-list22 {
  width: 100%;
  height: 48.3%;
  margin-top: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 3px;
  overflow: hidden;
  position: relative;
}

.category-list22 img {
  width: 100%;
  height: 100%;
  transition: all 2s;
}
.category-list22 img:hover {
  transform: scale(1.2);
}

.name-tag3 {
  position: absolute;
  top: 20px;
  right: 20px;
}

.name-tag3 a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  opacity: 0.6;
  position: relative;
  padding-top: 2px;
}

.name-tag3 p {
  text-align: center;
  font-size: 15px;
  opacity: 0.5;
  padding-top: 3px;
}

.name-tag3 a::after {
  content: "";
  width: 0;
  height: 0;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.name-tag3 a:hover::after {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.category-list3 {
  width: 25%;
  height: 600px;
  position: relative;
}
.category-list31 {
  margin-left: 10px;
  margin-bottom: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  padding-left: 3px;
  padding-top: 3px;
  overflow: hidden;
}
.category-list31 img {
  width: 100%;
  height: 55%;
  transition: all 2s;
}
.category-list31 img:hover {
  transform: scale(1.2);
}
.name-tag4 {
  position: absolute;
  top: 20px;
  right: 10px;
}

.name-tag4 a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  opacity: 0.6;
  position: relative;
  padding-top: 2px;
}

.name-tag4 p {
  text-align: center;
  font-size: 15px;
  opacity: 0.5;
  padding-top: 3px;
}

.name-tag4 a::after {
  content: "";
  width: 0;
  height: 0;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.name-tag4 a:hover::after {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.category-list32 {
  width: calc(100%-20px);
  height: 38.3%;
  margin-left: 10px;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.category-list32 img {
  width: 100%;
  height: 100%;
  transition: all 2s;
}
.category-list32 img:hover {
  transform: scale(1.2);
}

.name-tag5 {
  position: absolute;
  top: 20px;
  left: 33%;
}

.name-tag5 a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  opacity: 0.6;
  position: relative;
  padding-top: 2px;
}

.name-tag5 p {
  text-align: center;
  font-size: 15px;
  opacity: 0.5;
  padding-top: 3px;
}

.name-tag5 a::after {
  content: "";
  width: 0;
  height: 0;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.name-tag5 a:hover::after {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.introduce {
  width: 100%;
  height: 2200px;
  background-color: aliceblue;
}
.introduce-material {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}

.introduce-name {
  width: 20%;
  height: 100%;
}
.introduce-name h1 {
  font-size: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  rotate: 270deg;
  margin-top: 180px;
  padding: 30px;
  opacity: 0.5;
}
.introduce-name span {
  font-size: 15px;
  padding-left: 70px;
  word-spacing: 5px;
}

.introduce-tag {
  width: 45%;
  height: 100%;
  padding-top: 150px;
  padding-right: 50px;
}
.introduce-tag h3 {
  opacity: 0.5;
  letter-spacing: 5px;
  font-size: 15px;
  padding-bottom: 5px;
}
.introduce-tag h2 {
  padding-bottom: 20px;
}
.introduce-tag p {
  text-align: justify;
  padding-top: 10px;
  font-size: 15px;
  padding-right: 60px;
  line-height: 23px;
}
.introduce-img {
  width: 35%;
  height: 100%;
}
.introduce-img img {
  width: 390px;
  height: 450px;
  padding-top: 100px;
  transition: all 1s;
}

.introduce-img img:hover {
  transform: scale(1.2);
}

.introduce-material2 {
  width: 100%;
  height: 600px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.introduce-img2 {
  width: 60%;
  height: 100%;
}
.introduce-img2 img {
  width: 850px;
  height: 550px;
  padding-top: 20px;
  padding-left: 20px;
}
.introduce-tag2 {
  width: 30%;
  height: 100%;
  padding-top: 100px;
  text-align: end;
  padding-left: 50px;
  padding-right: 20px;
}
.introduce-tag2 h3 {
  opacity: 0.5;
  letter-spacing: 5px;
  font-size: 15px;
  padding-bottom: 5px;
}

.introduce-tag2 p {
  text-align: justify;
  line-height: 20px;
  margin-left: 30px;
  font-size: 15px;
  line-height: 23px;
  padding-top: 100px;
}
.introduce-hr {
  width: 10%;
  height: 100%;
  padding-top: 200px;
}
.introduce-material3 {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}
.introduce-hr2 {
  width: 20%;
  height: 100%;
  padding-top: 80px;
}
.introduce-tag3 {
  width: 40%;
  height: 100%;
  padding-top: 65px;
  padding-left: 100px;
  padding-right: 100px;
}
.introduce-tag3 h3 {
  opacity: 0.5;
  letter-spacing: 5px;
  font-size: 15px;
  padding-bottom: 5px;
}
.introduce-tag3 h2 {
  padding-bottom: 50px;
}
.introduce-tag3 p {
  text-align: justify;
  line-height: 20px;
  padding-top: 15px;
  font-size: 15px;
  line-height: 23px;
}

.introduce-img3 {
  width: 50%;
  height: 100%;
}
.introduce-img3 img {
  width: 450px;
  height: 530px;
  margin: 30px;
  margin-left: 70px;
  transition: all 1s;
}
.introduce-img3 img:hover {
  transform: scale(1.1);
}

.introduce-material4 {
  width: 100%;
  height: 400px;
  display: flex;
  background-color: white;
}
.introduce-name2 {
  width: 27%;
  height: 100%;
}
.introduce-name2 h1 {
  font-size: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  rotate: 270deg;
  margin-top: 150px;
  padding: 30px;
  opacity: 0.5;
}
.introduce-name2 span {
  font-size: 15px;
  padding-left: 70px;
  word-spacing: 5px;
}

.introduce-tag4 {
  width: 80%;
  height: 100%;
  padding-top: 70px;
  text-align: end;
}
.introduce-tag4 h1 {
  font-weight: bold;
  font-size: 50px;
  padding-right: 250px;
  padding-bottom: 30px;
}
.introduce-tag4 p {
  text-align: justify;
  padding-left: 250px;
  padding-right: 250px;
  line-height: 20px;
  padding-top: 10px;
}

.lookbook {
  width: 100%;
  height: 90px;
  background-color: #e0e0e0;
  border-top-right-radius: 100% 100%;
  border-top-left-radius: 100% 100%;
}

.lookbook h1 {
  text-align: center;
  font-weight: 900;
  padding-top: 30px;
  opacity: 0.5;
}
.introduce-lookbook {
  width: 100%;
  height: 650px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.lookbook-bst1 {
  width: 33.3333%;
  height: 100%;
  text-align: center;
  margin: 0px 40px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 100% 30%;
  border-top-right-radius: 100% 30%;
  overflow: hidden;
  position: relative;
}

.lookbook-bst1-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 100% 30%;
  border-top-right-radius: 100% 30%;
}
.lookbook-title {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  border-top-left-radius: 100% 30%;
  border-top-right-radius: 100% 30%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  color: #fff;
  transition: all ease-in-out 2s;
}
.lookbook-title h1 {
  padding-top: 80px;
  text-align: left;
  font-size: 50px;
  padding-left: 20px;
  padding-bottom: 30px;
}
.lookbook-title p {
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
  padding-bottom: 40px;
}
.lookbook-title a {
  text-decoration: none;
  font-size: 20px;
  border: 2px solid black;
  padding: 15px 70px;
  background-color: rgb(203, 208, 212);
  border-radius: 20px;
  margin-right: 150px;
  color: #fff;
}

.lookbook-bst1:hover .lookbook-title {
  bottom: 0;
}

.recomment {
  width: 100%;
  height: 400px;
  background-color: aliceblue;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.recomment-shared {
  width: 50%;
  height: 100%;
}
.recomment-shared h2 {
  color: #000;
  opacity: 0.4;
  letter-spacing: 10px;
  font-size: 20px;
  margin-top: 50px;
  padding-left: 150px;
}
.recomment-shared h4 {
  font-size: 20px;
  padding-left: 150px;
  padding-top: 5px;
}
.recomment-shared h1 {
  font-size: 80px;
  padding-top: 80px;
  padding-left: 150px;
}
.recomment-shared p {
  padding-left: 150px;
  padding-top: 20px;
  padding-right: 50px;
}
.recomment-kh {
  width: 50%;
  height: 100%;
  margin-right: 30px;
  display: flex;
  justify-content: space-evenly;
  color: #000;
}

.recomment-kh-1 {
  width: 50%;
  height: 50%;
  padding: 30px 10px 10px 10px;
  position: relative;
}
.recomment-kh-1 img {
  border-radius: 100%;
  position: absolute;
  top: 55px;
  left: 25px;
}
.recomment-tt {
  background-color: #fff;
  padding: 40px 10px 10px 10px;
  margin-top: 60px;
}
.recomment-tt h2 {
  font-size: 20px;
}
.recomment-tt h3 {
  font-size: 15px;
  opacity: 0.2;
  padding-right: 5px;
}
.recomment-tt h2 ul {
  list-style: none;
  display: flex;
  justify-content: start;
  margin-top: 5px;
}
.recomment-tt ion-icon {
  color: yellow;
}

.recomment-tt p {
  font-size: 15px;
  opacity: 0.7;
  line-height: 25px;
  padding-top: 10px;
}
.commit {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}
.commit1 {
  display: flex;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0 50px;
}
.commit1 ion-icon {
  width: 70px;
  height: 70px;
  padding-top: 15px;
}
.commit1 h3 {
  padding-top: 45px;
  padding-left: 40px;
  font-weight: 100;
}
.commit2 {
  display: flex;
  padding: 0 50px;
}
.commit2 ion-icon {
  width: 70px;
  height: 70px;
  padding-top: 15px;
}
.commit2 h3 {
  padding-top: 45px;
  padding-left: 40px;
  font-weight: 100;
}
.address {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  background: aliceblue;
}

.address1 {
  margin-top: 70px;
}

.address1 ul {
  list-style: decimal;
  padding-left: 20px;
}
.address1 h2 {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}
.address1 ul li {
  padding-top: 15px;
}
.address1 ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.9;
}
.address1 ul li a:hover {
  opacity: 5;
}
.address1 ul li span {
  font-size: 15px;
  font-weight: 100;
  opacity: 0.7;
}
.footer {
  width: 100%;
  height: 350px;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}

.footer-up {
  width: 100%;
  height: 200px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 50px;
}
.footer-up_logo {
  width: 20%;
  height: 100%;
}
.footer-up_logo img {
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 10px;
}
.footer-up_logo p {
  padding-left: 70px;
  font-size: 15px;
  font-weight: 100;
  opacity: 0.5;
}
.footer-up_logo h3 {
  padding-top: 10px;
  padding-left: 70px;
  font-size: 35px;
}
.footer-up_information {
  width: 30%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 40px;
  padding-top: 15px;
  padding-right: 30px;
}

.footer-up_information h4 {
  font-size: 20px;
  padding-bottom: 15px;
}
.footer-up_information ul {
  list-style: none;
  width: 50%;
}
.footer-up_information ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
  font-weight: 100;
  line-height: 40px;
}
.footer-ul {
  display: flex;
}

.footer-up_information1 {
  width: 20%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 40px;
  padding-top: 15px;
}

.footer-up_information1 h4 {
  font-size: 20px;
  padding-bottom: 15px;
}
.footer-up_information1 ul {
  list-style: none;
}
.footer-up_information1 ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
  font-weight: 100;
  line-height: 40px;
}
.footer-up_information1 ul li a span {
  padding-left: 7px;
  padding-bottom: 10px;
}
.footer-up_information1 ul li a ion-icon {
  width: 20px;
  height: 20px;
}
.footer-up_information ul li a:hover {
  opacity: 5;
}
.footer-up_information1 ul li a:hover {
  opacity: 5;
}
.footer-down {
  width: 100%;
  height: 100px;
  display: flex;
}
.footer-down_tb {
  width: 15%;
  padding-left: 80px;
}
.footer-down_tb img {
  padding-top: 15px;
}
.footer-down_gif {
  padding-top: 40px;
  opacity: 0.5;
  width: 20%;
  padding-left: 20px;
}
.footer-down_information {
  width: 65%;
  padding-left: 100px;
  padding-top: 15px;
}

.footer-down_information h5 {
  font-size: 17px;
  opacity: 0.8;
  font-weight: 100;
  padding-bottom: 2px;
}
.footer-down_information p {
  opacity: 0.7;
  font-size: 15px;
  padding-bottom: 2px;
}
